[class*=sidebar-dark-] {
    background-color: #33bba2;
}

[class*=sidebar-dark-] .sidebar a {
    color: #fff;
}

[class*=sidebar-dark] .brand-link, [class*=sidebar-dark] .brand-link .pushmenu {
    color: #fff;
}

.sidebar {
    padding-left: 0.3rem;
    scrollbar-width: none;
    scrollbar-color: #fff;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #f4f6f94a;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #fff;
    color: #33bba2;
}

.btn-primary {
    background-color: #33bba2;
    border-color: #33bba2;
    color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited {
    background-color: #33bba2;
    border-color: #33bba2;
    color: #fff;
}

.bg-primary {
    background-color: #33bba2 !important;
    color: #fff;
}

a {
    color: #33bba2;
}

a:hover, a:active, a:focus, a:visited {
    color: #33bba2;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: #33bba2;
    border-color: #33bba2;
}

a.btn-default, a.btn-default:hover, a.btn-default:focus, a.btn-default:visited {
    color: #444;
}

#dataTableBuilder_filter {
    position: relative;
    float: right;
}

#dataTableBuilder_info {
    position: relative;
    float: left;
}

.icheck-primary > input:first-child:checked + input[type=hidden] + label::before, .icheck-primary > input:first-child:checked + label::before {
    background-color: #33bba2;
    border-color: #33bba2;
}

.icheck-primary > input:first-child:not(:checked):not(:disabled):hover + input[type=hidden] + label::before, .icheck-primary > input:first-child:not(:checked):not(:disabled):hover + label::before {
    border-color: #33bba2;
}

.brand-link .brand-image {
    margin-top: -5px;
    max-height: 40px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #33bba28c !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #33bba2 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: #33bba2 !important;

}

.page-item.active .page-link {
    background-color: #33bba2;
    border-color: #33bba2;
}

.page-link {
    color: #33bba2;
}

.page-link:hover {
    color: #33bba2;
}

.form-control:focus {
    border-color: #33bba2;
}

.btn-outline-secondary {
    color: #33bba2;
    border-color: #33bba2;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #33bba2;
    border-color: #33bba2;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #33bba2;
    border-color: #33bba2;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #33bba2;
    border-color: #33bba2;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 20px;
}

@media (min-width: 576px) {
    .navbar-nav > .user-menu .user-image {
        margin-right: 0;
    }
}